<div class="col-md-4"></div>
<div class="col-md-4" id="my-bg">
  here goes my bg img
  <div class="container">
    <div class="row">

      <div class="col-md-6" id="product-rectangle">
      </div>

    </div>
  </div>
</div>
<div class="col-md-4"></div>
