.table{
  color:white;
}

.table #basket-bg img {
  height:500px;
  width:auto;
  display:block;
  margin-right:auto;
  margin-left:13px;
  margin-top:-2px;
  -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
}

#whats {
  font-family:'DK Crayon Crumble';
  font-size:30px;
  text-align:center;
  margin-top:-470px;
  color:white;
}

#belly {
  font-family:'DK Crayon Crumble';
  font-size:35px;
  text-align:center;
  margin-left:-7px;
  margin-top:-18px;
  color:#eab748;
}

#rectangle-image img{
  height:190px;
  width:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:-80px;
}




// #full-name {
//   font-family:'Sketch';
//   text-align:left;
//   color:$greyish;
//   margin-top:-36px;
//   margin-left:60px
// }

// #quantity {
//   font-family:'impact';
//   text-align:left;
//   margin-left:35px;
//   font-size:15px;
//   color:$greyish;
//   margin-top:-40px;
// }

// #total-price {
//   font-family:'Sketch';
//   text-align:right;
//   color:#eab748;
//   font-size:20px;
//   margin-top:-35px;
//   margin-right:40px;

// }
