.basket #basket-tag img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
  height: 200px;
  width:auto;
}


.basket #items-number {
  font-family:'Sketch';
  font-size:60px;
  color:#c29856;
  text-align:center;
  margin-right:25px;
  margin-top:-200px;
}

.basket #pieces {
  font-family:'Sketch';
  font-size:20px;
  color:#c29856;
  text-align:center;
  margin-top:-73px;
  margin-right:-50px;
}

.basket #inyour {
  font-family:'impact';
  color:#929292;
  font-size:11px;
  text-align:center;
  margin-top:20px;
  margin-right:-10px;
}

.basket #cost {
  font-family:'impact';
  font-size:13px;
  text-align:center;
  color:#929292;
  margin-top:-12px;
  margin-right:-10px;
}

.basket #price {
  font-family:'GrutchShaded';
  color:#5b5b5b;
  font-size:25px;
  text-align:center;
  margin-top:-5px;
  margin-right:-8px;
}

.basket #checkout {
  font-family:'KGSecondChancesSketch';
  color:#434343;
  font-size:15px;
  text-align:center;
  margin-top:15px;
  margin-right:-4px;
}
