

#the-basket img {
  height:600px;
  width:auto;
  display:block;
  margin-right:auto;
  margin-left:-65px;
  margin-top:13px;
  -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
}

#whats {
  display:block;
  font-family:'DK Crayon Crumble';
  font-size:30px;
  text-align:center;
  margin-top:-555px;
  color:white;
}

#belly {
  font-family:'DK Crayon Crumble';
  font-size:35px;
  text-align:center;
  margin-left:auto;
  margin-top:-18px;
  color:#eab748;
}

#rectangle-image img{
  height:165px;
  width:auto;
  display:block;
  margin-left:23px;
  margin-right:auto;
  margin-top:5px;
}



#full-name {
  font-family:'Sketch';
  font-size:18px;
  text-align:right;
  margin-right:24px;
  color:$greyish;
  margin-top:-33px;
}

#quantity {
  font-family:'impact';
  text-align:left;
  margin-left:37px;
  font-size:15px;
  color:$greyish;
  margin-top:-150px;
}

#total-price {
  font-family:'Sketch';
  text-align:center;
  color:#eab748;
  font-size:20px;
  margin-top:90px;
  margin-left:13px;

}

#totally-spice {
  font-family:'KGSecondChancesSketch';
  color:#eab748;
  font-size:27px;
  text-align:center;
}

#ttp {
  font-family:'KGSecondChancesSketch';
  color:$greyish;
  font-size:12px;
  text-align:center;
  margin-bottom:10px;
}

#check-it-out {
  font-family:'KGSecondChancesSketch';
  font-size:18px;
  text-align:center;
  margin-top:140px;
}

#empty-it {
  font-family:'KGSecondChancesSketch';
  font-size:11px;
  text-align:right;
  margin-top:-54px;
}
