

#the-basket img {
  position: absolute;
  z-index: -1;
  height:600px;
  width:auto;
  margin-left:-14px;
  -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
}

#whats {
  display:block;
  font-family:'DK Crayon Crumble';
  font-size:30px;
  margin-top:40px;
  text-align:center;
  color:white;
}

#belly {
  font-family:'DK Crayon Crumble';
  font-size:35px;
  text-align:center;
  color:#eab748;
  margin-top:-20px;
}

// #quantity {
//   font-family:'impact';
//   font-size:35px;
//   color:$greyish;
//   text-align:left;
//   margin-left:85px;
// }

#full-name {
  font-family:'Sketch';
  font-size:28px;
  color:$greyish;
  text-align:center;
  margin-top:-8px;
}

// #price-pack {
//   font-family:'Sketch';
//   color:#eab748;
//   font-size:20px;
//   text-align:center;

// }

#total-price {
  font-family:'KGSecondChancesSketch';
  color:#eab748;
  font-size:27px;
  text-align:center;
  margin-top:200px;
}

#ttp {
  font-family:'KGSecondChancesSketch';
  color:$greyish;
  font-size:12px;
  text-align:center;
  margin-top:10px;
}

#checkout {
  margin-top:40px;
}

#check-it-out {
  font-family:'KGSecondChancesSketch';
  font-size:18px;
  text-align:center;
  margin-top:-15px;
}

#empty-it {
  font-family:'KGSecondChancesSketch';
  font-size:15px;
  text-align:center;
  margin-top:30px;
}

#default-image img {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  margin-top:-26px;
  height:240px;
  width:auto;
  margin-left:10px;
  margin-top:-10px;
}

#close img{
  height:30px;
  width:auto;
  margin-top:-60px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   z-index: 1;
}
