.basket #basket-tag img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  float:top;
  height: 200px;
  width:auto;
  -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.75);
}


.basket #items-number {
  font-family:'Sketch';
  font-size:60px;
  color:#eab748;
  text-align:center;
  margin-right:25px;
  margin-top:-200px;
}

.basket #pieces {
  font-family:'Sketch';
  font-size:19px;
  color:#eab748;
  text-align:center;
  margin-top:-60px;
  margin-right:-40px;
}

.basket #inyour {
  font-family:'impact';
  color:#e3e3e3;
  font-size:11px;
  text-align:center;
  margin-top:10px;
  margin-right:-10px;
}

.basket #cost {
  font-family:'impact';
  font-size:13px;
  text-align:center;
  color:#e3e3e3;
  margin-top:-14px;
  margin-right:-10px;
}

.basket #price {
  font-family:'KGSecondChancesSketch';
  color:#e3e3e3;
  font-size:25px;
  text-align:center;
  margin-top:-8px;
  margin-right:-8px;
}

.basket #checkout {
  font-family:'KGSecondChancesSketch';
  color:#e3e3e3;
  font-size:13px;
  text-align:center;
  margin-top:15px;
}

.basket #delivery {
  ftext-indent: -9999px;
}
