
#basket-summary #items-number {
  font-family:'Sketch';
  font-size:60px;
  color:#c29856;
  margin-top:-70px;
  margin-right:-95px;
}

#basket-summary #pieces {
  font-family:'Sketch';
  font-size:20px;
  color:#c29856;
  margin-top:-65px;
  margin-right:-160px;
}

#basket-summary #for {
  font-family:'impact';
  font-size:20px;
  color:white;
  margin-top:-40px;
  margin-right:-260px;
}

#basket-summary #price {
  font-family:'impact';
  font-size:20px;
  color:white;
}
