@font-face {
    font-family: 'GrutchShaded';
    src: url('fonts/GrutchShaded.eot');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'DK Crayon Crumble';
    src: url('fonts/DK Crayon Crumble.eot');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
  font-family: 'KGSecondChancesSketch';
  src: url('fonts/KGSecondChancesSketch.eot');
  src: local('☺'), url('fonts/KGSecondChancesSketch.woff') format('woff'), url('fonts/KGSecondChancesSketch.ttf') format('truetype'), url('fonts/KGSecondChancesSketch.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Sketch";
  src:url("Sketch_Block.eot?")
  format("eot"),url("Sketch_Block.woff")
  format("woff"),url("Sketch_Block.ttf")
  format("truetype"),url("Sketch_Block.svg#freeversionSketchBlock-Bold")
  format("svg");font-weight:normal;font-style:normal;}

@font-face {
  font-family: 'Myriad';
  src: url('fonts/myriad-web-pro.eot');
  src: local('☺'), url('fonts/myriad-web-pro.woff') format('woff'), url('fonts/myriad-web-pro.ttf') format('truetype'), url('fonts/myriad-web-pro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

