// Your footer style
#footer {
  background:#1d1d1d;
  padding: 1px 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.col-md-6 {
  text-align:center;
  margin-top:10px;
}

.col-md-3 {
  text-align:center;
}

#footer p {
  font-family:impact;
  color:#f4f4f4;
  margin-top: 17px;
  font-size:95%;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: gainsboro;
  font-size: 25px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover {
  color: #e4ab4c;
}
